html{
    font-family: 'Nunito';
    margin: 0;
}

body{
    margin: auto;
    padding: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    border: 3px solid black;
    border-radius: 10px;
    height: 600px;
    width: 1200px;
    display: flex;
    flex-direction: row;
}
/* --------------------nav part -------------------------------- */
.nav{
    flex-basis: 400px;
    height: 100%;
    display: flex;
    /* for the test */
    border: 1px solid black;
}
.nav_class{
    flex-grow: 0.5;
}
.nav_namelist{
    flex-grow: 0.5;
}
h2{
    margin: auto;
    padding: 30px 20px;
    text-align: center;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    line-height: 2;
    padding-left: 15px;
}
ul>li:nth-child(odd){
    background-color: rgb(206, 212, 210);
}
ul>li:hover{
    background-color:bisque;
}

/* --------------------right side------------------------------- */
.right_side{
    display: flex;
    flex-basis: 800px;
}
.menu{
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding: 30px;   

    /* for the test */
    border: 1px solid black;
}

.menu button{
    padding: 5px 10px;
    border-radius: 10px;
}

/* --------------------content--------------------------------- */

.content{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.scroll{
    overflow-x: hidden;
    overflow-y: scroll;
    
}
/* --------------------subject-summary------------------------- */
.subjectSummary{
    width: 90%;
    height: 7rem;
    margin-bottom: 2rem;
    padding: 15px 0;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.subjectTitleSelector, .gradeSector, .statSector{
    width: 11rem;
    padding: 15px;
    
}
.lastGrade, .averageGrade{
    display: flex;
    justify-content: space-between;
}
.subjectName{
    margin: auto;
    padding: 40px 0; 
    font-size: x-large;
}

.gradeSector{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.lastGradeTitle, .averageGradeTitle, .lastGradeValue, .averageGradeValue{
    margin: 5px;
}